nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #fff;
  padding: 1em 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav span {
  font-family: 'Bungee', cursive;
  font-size: 2em;
}

nav div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav div p {
  margin: 0;
}

nav div i {
  color: #f00;
}